# These default owners will match all PRs unless a later match takes precedence.
* @grafana/grafana-catalog @grafana/grafana-frontend-platform

/packages/create-plugin/ @grafana/grafana-frontend-platform
/packages/eslint-config/ @grafana/grafana-frontend-platform
/packages/eslint-plugin-plugins/ @grafana/grafana-catalog
/packages/plugin-docs-parser/ @grafana/grafana-catalog
/packages/plugin-docs-cli/ @grafana/grafana-catalog
/packages/plugin-e2e/ @grafana/grafana-catalog
/packages/plugin-meta-extractor/ @grafana/grafana-catalog
/packages/plugin-types-bundler/ @grafana/grafana-frontend-platform
/packages/react-detect/ @grafana/grafana-frontend-platform
/packages/sign-plugin/ @grafana/grafana-catalog
/packages/tsconfig/ @grafana/grafana-frontend-platform

/docusaurus/website/ @grafana/grafana-frontend-platform @grafana/docs-plugins
/docusaurus/docs/ @grafana/docs-plugins

/.github/workflows/ @grafana/grafana-frontend-platform
/.github/workflows/playwright.yml @grafana/grafana-catalog
/.github/workflows/playwright-nightly.yml @grafana/grafana-catalog
