# Dependencies
node_modules

# Build output
packages/create-plugin/generated/*
# Keep the generated lock file to speed up CI
!packages/create-plugin/generated/yarn.lock
dist

# Errors
yarn-error.log

# Cache
.eslintcache

# IDE
.vscode

# Mac
.DS_Store