name: 'Check PR labels'
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
      - edited
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}

permissions:
  pull-requests: write

jobs:
  check-labels:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-x64
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup nodejs
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: ./.github/actions/check-labels/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./.github/actions/check-labels

      - name: Check labels
        uses: ./.github/actions/check-labels
