name: 'Check PR labels'
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
      - edited
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}

permissions:
  pull-requests: write

jobs:
  check-labels:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-x64
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup nodejs
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: ./.github/actions/check-labels/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./.github/actions/check-labels

      - name: Check labels
        uses: ./.github/actions/check-labels
