name: Lapo Docs Generate Embeddings

on:
  push:
    branches:
      - main
    paths:
      - 'docusaurus/docs/**/*.md'

jobs:
  generate-docs-embeddings:
    name: generate-docs-embeddings
    runs-on: ubuntu-x64
    permissions:
      contents: read
      id-token: write
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          # Secrets placed in the ci/repo/grafana/plugin-tools in vault
          repo_secrets: |
            GEMINI_API_KEY=gemini_api_key:gemini_api_key
          export_env: false

      - uses: grafana/lapo-docs/github-actions/generate-embeddings@93b3cfc2f8c642027b123996d2fa789f58768652
        id: generate-embeddings
        with:
          docs-path: docusaurus/docs
          gemini-api-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GEMINI_API_KEY }}

