name: Lapo Docs Create docs PR for merged PR

on:
  repository_dispatch:
    types: [pr-merged]
  workflow_dispatch:
    inputs:
      pr_url:
        description: 'PR URL'
        required: true

permissions:
  contents: write
  pull-requests: write
  id-token: write
  issues: write

jobs:
  run-lapo-docs:
    runs-on: ubuntu-x64
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          # Secrets placed in the ci/repo/grafana/plugin-tools
          repo_secrets: |
            GITHUB_APP_ID=plugins-platform-bot-app:app_id
            GITHUB_APP_PEM=plugins-platform-bot-app:app_pem
            ANTHROPIC_API_KEY=anthropic_key:anthropic_key
            OPENAI_API_KEY=open_ai_key:open_ai_key
            GEMINI_API_KEY=gemini_api_key:gemini_api_key
          export_env: false

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_ID }}
          private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_PEM }}
          # Permissions necessary for grafana/lapo-docs/github-actions/create-docs-update-pr
          permission-actions: read
          permission-contents: write
          permission-pull-requests: write
          permission-issues: write


      # this allows to test both with manual trigger and repository_dispatch
      - name: Set PR URL
        id: set-pr-url
        run: |
          if [[ "${EVENT_NAME}" == "repository_dispatch" ]]; then
            echo "url=${CLIENT_PAYLOAD_PR_URL}" >> "$GITHUB_OUTPUT"
          else
            echo "url=${INPUTS_PR_URL}" >> "$GITHUB_OUTPUT"
          fi
        env:
          EVENT_NAME: ${{ github.event_name }}
          CLIENT_PAYLOAD_PR_URL: ${{ github.event.client_payload.pr_url }}
          INPUTS_PR_URL: ${{ github.event.inputs.pr_url }}


      - name: Print PR URL
        run: |
          echo "PR URL: ${PR_URL}"
        env:
          PR_URL: ${{ steps.set-pr-url.outputs.url }}

      - uses: grafana/lapo-docs/github-actions/create-docs-update-pr@93b3cfc2f8c642027b123996d2fa789f58768652
        id: generate-embeddings
        with:
          token: ${{ steps.generate_token.outputs.token }}
          docs-path: docusaurus/docs
          gemini-api-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GEMINI_API_KEY }}
          anthropic-api-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).ANTHROPIC_API_KEY }}
          openai-api-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).OPENAI_API_KEY }}
          embeddings-action: lapo-generate-embeddings.yml
          source-change-pr: ${{ steps.set-pr-url.outputs.url }}

