name: Metadata lint
on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  detect-changes:
    name: Detect whether code changed
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      docs: ${{ steps.detect-changes.outputs.docs }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: true # required to get more history in the changed-files action
          fetch-depth: 2
      - name: Detect changes
        id: detect-changes
        uses: ./.github/actions/change-detection
        with:
          self: .github/workflows/metadata-lint.yml

  lint-metadata:
    needs: detect-changes
    runs-on: ubuntu-x64
    if: github.event_name == 'pull_request' && needs.detect-changes.outputs.docs == 'true'
    name: Verify metadata.md is up to date with plugin.schema.json
    permissions:
      contents: read
      id-token: write
    env:
      NX_BRANCH: ${{ github.event.number || github.ref_name }}
    steps:
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          # Secrets placed in the ci/repo/grafana/plugin-tools in vault
          repo_secrets: |
            NX_CLOUD_ACCESS_TOKEN=nx_token:nx_token

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
          persist-credentials: false

      - uses: nrwl/nx-set-shas@826660b82addbef3abff5fa871492ebad618c9e1 # v4.3.3
      - name: Setup nodejs
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --no-audit

      - name: Sync metadata.md
        run: npm -w website run prebuild

      - name: Verify metadata.md
        run: |
          uncommited_error_message="ERROR! Changes to metadata.md have not been committed. Please run 'npm -w website run prebuild', commit the changes and push again."
          file_diff="$(git diff --name-only)"
          if [ -n "$file_diff" ]; then
              echo "$file_diff"
              echo "${uncommited_error_message}"
              exit 1
          fi
