name: Stale Branches

on:
  schedule:
    - cron: '0 11 * * 1-5'
    
permissions:
  issues: write
  contents: write

jobs:
  stale_branches:
    runs-on: ubuntu-latest
    steps:
    - name: Stale Branches
      uses: crs-k/stale-branches@v7.0.0
      with:
        #dry-run: false
        pr-check: true