name: Test docs build

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-x64
    permissions:
      pull-requests: read
    outputs:
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            docs:
              - '.github/workflows/deploy-to-developer-portal-dev.yml'
              - '.github/workflows/deploy-to-developer-portal-prod.yml'
              - '.github/workflows/test-build.yml'
              - 'docusaurus/**'
              - 'package-lock.json'

  build-docs:
    needs: changes
    if: ${{ needs.changes.outputs.docs == 'true' }}
    runs-on: ubuntu-x64
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup nodejs
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
      - name: Build documentation website (Dev Portal)
        run: npm run build -w website
